<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "utf-8"/>
        <meta
            name="description"
            content="This is a personal portfolio page intended for job search purposes"/> 
        <meta 
            name="viewport" 
            content="width=device-width, initial-scale=1.0">    
        <title>Taylor Erickson - Portfolio Website</title>
        <link rel="stylesheet" href="Main.css">

    </head>
    <body>
        <header>
            <h1>Taylor's Portfolio</h1>

            <nav>
                <a href="aboutme.html">About Me</a>
                <a href="resume.html">My Resume</a>
            </nav>
        </header>
        <main>
            <img src = "../Images/intro_img.jpg" alt="Image of me at Disneyland."/>
            <section class="introduction">
                <h2>Hello and welcome to my web portfolio! </h2>
                <p>My name is Taylor Erickson and this is my personal portfolio.  In it, 
                    you will find an "about me" page, my resume, and a few other things 
                    you might find interesting about me.
                </p>
            </section>
        </main>
    </body>
</html>