<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "utf-8"/>
        <meta
            name="description"
            content="This is a personal portfolio page intended for job search purposes"/> 
        <meta 
            name="viewport" 
            content="width=device-width, initial-scale=1.0">    
        <title>Taylor Erickson - Portfolio Website</title>
    </head>
    <body>
        <header>
            <h1>Portfolio</h1>
        </header>
        <main>
            <section class = "introduction">
                <h2>Hi!  My Name is Taylor, and I am a computer science major at the University of San Diego.</h2>
                <img
                    class="intro-picture"
                    src="/Components/Images/intro_img.jpg"
                    alt="Picture of me at Disneyland." />
            </section>
        </main>
    </body>
</html>