:root, [data-theme="light"] {
    --color-bg: #eeeeee;
    --color-txt: #393e46;
    --color-header: #00adb5;     
    --color-txt-header: #222831; 
}

[data-theme="dark"] {
    --color-bg: #222831;
    --color-txt: #eeeeee;
    --color-header: #00adb5;      
    --color-txt-header: #eeeeee; 
}